@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: 'Amareddine';
  src: url('./assets/fonts/Amareddine-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Amareddine';
  src: url('./assets/fonts/Amareddine-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Amareddine';
  src: url('./assets//fonts/Amareddine-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Amareddine';
  src: url('./assets//fonts/Amareddine-Book.ttf') format('truetype');
  font-weight: 350;
}

@font-face {
  font-family: 'AlHadari';
  src: url('./assets/fonts/AlHadari-bold.ttf');
}

.hadari {
  font-family: 'AlHadari';
  font-weight: bold;
}

html {
  direction: rtl;
  color: white;
  font-family: cursive;
}

body {
  font-family: 'Amareddine';
}

img {
  max-width: 100%;
}

.swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
  border-radius: 999999px;
  transition: all;
  transition-duration: 0.2s;
  transform-origin: left center;
  display: block;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-secondary;
  width: 40px;
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 15px;
}

.overlay-1 {
  background-image: url('./assets/hero/hero-1.svg');
  background-size: cover;
  background-position: center center;
  opacity: 0.15;
}

.overlay-2 {
  background-image: url('./assets/hero/hero-2.svg');
  background-size: cover;
  background-position: center center;
  opacity: 0.15;
}

.animated {
  animation: 20s linear infinite running slidein;
  left: 0;
  transform: translateX(-100%);
}

.animated-2 {
  animation: 20s linear infinite running slidein;
  left: 0;
  transform: translateX(-100%);
  animation-delay: 4s;
}

@keyframes slidein {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(100%);
  }
}

.services-image-holder {
  aspect-ratio: 1232.57/556;
  overflow: hidden;
  border-radius: 54px;
}

.btn-main {
  position: relative;
  height: 100px;
  width: 100px;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
  background-color: black;
  border: none;
}

.btn-main-border {
  /* content: ''; */
  /* position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: inherit;
  background-color: red; */
  /* background-image: linear-gradient(to right bottom, rgba(230, 57, 70, 80) 0%, rgba(230, 57, 70, 10) 18%, rgba(141, 146, 157, 42) 42%, rgba(255, 255, 255, 255) 71%, rgba(255, 255, 255, 0) 92%); */
  
  /* z-index: 20; */
}

/* .btn-main .background {
  @apply absolute bg-white bg-main w-full z-20 left-[2px] top-[2px] right-[2px] bottom-[2px];
  border-radius: inherit;
} */

.btn-main .border {
  @apply absolute bg-white bg-main w-full z-20 left-[2px] top-[2px] right-[2px] bottom-[2px];
  background-image: linear-gradient(to right bottom, rgba(230, 57, 70, 80) 1%, rgba(230, 57, 70, 10) 18%, rgba(241, 146, 153, 57) 42%, rgba(255, 255, 255, 42) 97%);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 20;
  border-radius: inherit;
}

/* .btn-main {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 1px;
  background: transparent;
  border-image-source: linear-gradient(to right bottom, rgba(230, 57, 70, 80) 1%, rgba(230, 57, 70, 10) 18%, rgba(241, 146, 153, 57) 42%, rgba(255, 255, 255, 42) 97%); */
  /* border-image-source: linear-gradient(to right bottom, rgba(230, 57, 70, 80) 1%, rgba(230, 57, 70, 10) 18%, rgba(241, 146, 153, 57) 42%, rgba(255, 255, 255, 42) 97%); */
  /* border-radius: 50%;
} */

/* linear-gradient(to left bottom, rgba(230, 57, 70, 80) 1%, rgba(230, 57, 70, 10) 18%, rgba(241, 146, 153, 57) 42%, rgba(255, 255, 255, 42) 71%, rgba(255, 255, 255, 0) 92%) */